@import "@/styles/_variables.scss";

.sandButton {
  background: linear-gradient(145deg, $sand-light, $sand-dark);
  color: #3e2723;
  border: 1px solid #8d6e63;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 2px 2px 0px $stone-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  text-shadow: 0.5px 0.5px 0px rgba(255, 255, 255, 0.5);

  &:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
    box-shadow: 3px 3px 0px $stone-shadow;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 0px $stone-shadow;
    background: linear-gradient(145deg, $sand-dark, $sand-light);
  }
}

.goldButton {
  background: linear-gradient(to bottom, #ffd700 0%, #daa520 100%);
  border: 2px solid #b8860b;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-weight: 900;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(218, 165, 32, 0.4);

  &:hover {
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6);
    background: linear-gradient(to bottom, #ffec8b 0%, #daa520 100%);
  }
}
