$primary-form-color: rgb(184, 165, 40);
$primary-border-color: rgb(166, 121, 39);
$sand-light: #e2c792;
$sand-dark: #b89b5e;
$stone-shadow: rgba(0, 0, 0, 0.3);
$input-bg: rgba(245, 230, 200, 0.2);
$input-border: #b89b5e;
$placeholder-color: #8d6e63;

//Картка персонажу

$color-gold: #ffd700;
$color-gold-dim: rgba(255, 215, 0, 0.3);
$color-gold-faint: rgba(255, 215, 0, 0.2);

$color-dark-start: #1a1a1a;
$color-dark-end: #2a2a2a;
$color-deep-black: #111;
$bg-overlay-dark: rgba(0, 0, 0, 0.3);

$color-text-white: #fff;
$color-danger: #ff4d4d;

$color-male: #00d4ff;
$color-female: #ff007a;

$font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$shadow-card: 0 10px 30px rgba(0, 0, 0, 0.5);
